<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Accueil</a></li>
            <li role="presentation"><a href="#">A propos</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
            <li role="presentation"><a href="#">Connexion</a></li>
        </ul>
    </nav>
    <h3 class="text-muted">InstaBlog</h3>
</div>